h1,
ul {
  font-family: Verdana, "Times New Roman", sans-serif;
}

h1 {
  width: 400px;
  font-size: 50px;
}

ul {
  font-size: 30px;
}

#container {
  background-color: #F5F5F5;
  width: 1300px;
  margin: 0 0 20px;
  padding: 10px;
}

#food-name {
  font-weight: bold;
  margin-top: 0;
}

img {
  width: 1000px;
  height: auto;
}

.description {
  font-size: 22px;
}

button {
  text-align: center;
  padding: 5px 20px;
  font-size: 30px;
  margin-left: 20px;
}